@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'Harmond';
  src: url(./Harmond-ExtraBoldExpanded.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: white;
  color: #000;
}

body {
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s linear infinite; */
  padding-bottom: 1.5vh;
  overscroll-behavior: inherit;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: black;
}
 
body::-webkit-scrollbar-thumb {
  background-color: white;
}

body,
html {
  overscroll-behavior: none;
}

.main-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

img /* applying necessary styles to all images */ {
  background: transparent;
  overflow: hidden;
  visibility: hidden;
}

/* LANDING MEDIA (CONTACT ICONS, HEADER, SECTIONS) */

.contacts {
  position: absolute;
}

.contacts a {
  height: 72px;
  position: absolute;
  z-index: 100;
}

.contacts a:hover img {
  transform: scale(110%);
  transition: transform 200ms ease;
}

.contacts img {
  transition: transform 200ms ease;
  background: transparent;
}

#telegram {
  height: 60px;
}

#mail,
#github {
  height: 100px;
}

#replit {
  height: 75px;
}

.contacts #telegram-icon {
  margin-top: 200px;
  margin-left: 300px;
}

.contacts #mail-icon {
  height: 100px;
  margin-top: 100px;
  margin-left: 1000px;
}

.contacts #github-icon {
  height: 100px;
  margin-top: 600px;
  margin-left: 400px;
}

.contacts #replit-icon {
  margin-top: 500px;
  margin-left: 1100px;
}

.hero-header {
  font-family: 'Azeret Mono', monospace;
}

.hero-header h1 {
  margin-left: 2%;
  padding-top: 10%;
  font-size: 100px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
	animation: gradient 15s linear infinite;
  text-align: center;
  line-height : 150px;
  text-transform: uppercase;
  mix-blend-mode: difference;
  user-select: none;
}

.hero-header h2 {
  margin-top: 7%;
  color: white;
  text-align: center;
  mix-blend-mode: difference;
}

.hero-header h3 {
  margin-left: 10%;
  width: 80%;
  margin-top: 5.5%;
  color: white;
  text-align: center;
  mix-blend-mode: difference;
}

/* .hero-header span {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
	animation: gradient 15s linear infinite;
} */

.main-content {
  position: relative;
  will-change: transform;
}

.section-title {
  margin-top: 15%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
	animation: gradient 15s linear infinite;
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  font-family: 'Azeret Mono', monospace;
  mix-blend-mode: difference;
  user-select: none;

  grid-column: 2 / 9;
  grid-row: 1 / 1;
}

/*  */

/* WRAPPERS */

.projects-wrapper {
  margin-top: 5%;
  grid-row: 1 / 2;
  display: grid;
}

.projects-wrapper span {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
	animation: gradient 15s linear infinite;
}

.project-1, 
.project-2,
.project-3,
.project-4,
.project-5 {
  margin-top: 10%;
  margin-left: 15%;
  width: 70%;
}

.project-1,
.project-5 {
  cursor: not-allowed;
}

/*  */

/* PROJECT MEDIA (TEXT, IMG) */

.project-title {
  color: white;
  font-size: 72px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  mix-blend-mode: difference;
}

.project-text {
  margin-top: 5%;
  color: white;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  mix-blend-mode: difference;
}

.project-img {
  margin-top: 5%;
  width: 100%;
}

/*  */

/* PROJECT NUMBERS */

.project-number {
  position: absolute;
  color: white;
  font-size: 72px;
  font-weight: 900;
  font-family: 'Harmond', sans-serif;
  mix-blend-mode: difference;
  user-select: none;
}

.project-1 .project-number {
  margin-left: 75%;
  margin-top: 10%;
}

.project-2 .project-number {
  margin-left: -11%;
  margin-top: 20%;
}

.project-3 .project-number {
  margin-left: 75%;
  margin-top: 30%;
}

.project-4 .project-number {
  margin-left: -11%;
  margin-top: 10%;
}

.project-5 .project-number {
  margin-left: 75%;
  margin-top: 30%;
}

/*  */

/* PROJECT LINKS */

.project-link {
  position: absolute;
  font-size: 64px;
  color: #666;
  mix-blend-mode: difference;
  user-select: none;
  transition: all 200ms ease-in-out;
}

.project-link:hover {
  color: #fff;
  transition: all 200ms ease-in-out;
}

.project-1 .project-link {
  margin-left: 75.7%;
  margin-top: 15%;
  cursor: not-allowed;
}

.project-2 .project-link {
  margin-left: -9.7%;
  margin-top: 25%;
}

.project-3 .project-link {
  margin-left: 76.2%;
  margin-top: 35%;
}

.project-4 .project-link {
  margin-left: -9.9%;
  margin-top: 15%;
}

.project-5 .project-link {
  margin-left: 76.2%;
  margin-top: 35%;
  cursor: not-allowed;
}

/*  */

/* TECH. STACK */

.project-stack-title {
  color: white;
  margin-top: 5%;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}

.project-stack {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  font-size: 48px;
  user-select: none;
}

.project-1 .project-stack {
  width: 100%;
}

.project-2 .project-stack {
  width: 35%;
}

.project-5 .project-stack {
  padding-bottom: 5%;
}

.project-stack i {
  cursor: pointer;
  transition: color 200ms ease-in-out;
}

.project-stack p {
  font-size: 30px;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

/* TECH. STACK ICONS ON HOVER */

.html:hover {
  color: orange;
  transition: color 100ms ease;
}

.css:hover {
  color: lightskyblue;
  transition: color 100ms ease;
}

.js:hover {
  color: yellow;
  transition: color 100ms ease;
}

.node-js:hover {
  color: green;
  transition: color 100ms ease;
}

.mongo-db:hover {
  color: green;
  transition: color 100ms ease;
}
 
.discord-js:hover {
  color: #7289DA;
  transition: color 100ms ease;
}

.rest-api:hover,
.replit:hover,
.replit-db:hover,
.airtable:hover,
.airtable-js:hover,
.telegraf-js:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
	animation: gradient 5s linear infinite;
  transition: all 200ms ease-in-out;
}

/*  */

/* ASSIGNING STYLES TO CANVAS CREATED IN JS */

canvas {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

/*  */

/* ANIMATION FOR HERO HEADER */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*  */

/* MEDIA QUERIES */

/* Very small phones */



/* Large desktop */
@media (max-width: 1200px) { 

  /* CONTACT ICONS */
  
  .contacts #telegram-icon {
    margin-top: 200px;
    margin-left: 150px;
  }
  
  .contacts #mail-icon {
    margin-top: 100px;
    margin-left: 750px;
  }
  
  .contacts #github-icon {
    margin-top: 550px;
    margin-left: 200px;
  }
  
  .contacts #replit-icon {
    margin-top: 450px;
    margin-left: 800px;
  }

  /*  */

  /* PROJECT NUMBERS */

  .project-1 .project-number {
    margin-left: 74%;
    margin-top: 10%;
  }
  
  .project-2 .project-number {
    margin-left: -12.5%;
    margin-top: 20%;
  }
  
  .project-3 .project-number {
    margin-left: 72.5%;
    margin-top: 30%;
  }
  
  .project-4 .project-number {
    margin-left: -12.5%;
    margin-top: 10%;
  }
  
  .project-5 .project-number {
    margin-left: 72.5%;
    margin-top: 30%;
  }

  /*  */

  /* PROJECT LINKS */

  .project-1 .project-link {
    margin-left: 74.7%;
    margin-top: 17.5%;
  }
  
  .project-2 .project-link {
    margin-left: -10.5%;
    margin-top: 27.5%;
  }
  
  .project-3 .project-link {
    margin-left: 75%;
    margin-top: 37.5%;
  }
  
  .project-4 .project-link {
    margin-left: -10.5%;
    margin-top: 17.5%;
  }
  
  .project-5 .project-link {
    margin-left: 74.7%;
    margin-top: 37.5%;
  }

  /*  */

}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) { 

  /* HERO HEADER */

  .hero-header h1 {
    padding-top: 25%;
  }

  /*  */

  /* CONTACT ICONS */
  
  .contacts #telegram-icon {
    top: -125px;
    left: -50px;
  }
  
  .contacts #mail-icon {
    top: -50px;
    left: -160px;
  }
  
  .contacts #github-icon {
    top: -495px;
    left: 50px;
  }
  
  .contacts #replit-icon {
    top: -385px;
    left: -360px;
  }

  /*  */

  /* PROJECT NUMBERS */

  .project-1 .project-number {
    left: 5%;
  }
  
  .project-2 .project-number {
    left: 20.5%;
  }
  
  .project-3 .project-number {
    left: 5%;
  }
  
  .project-4 .project-number {
    left: 20.5%;
  }
  
  .project-5 .project-number {
    left: 5.3%;
  }

  /*  */

  /* PROJECT LINKS */

  .project-1 .project-link {
    left: 5.5%;
    top: 23.2%;
  }
  
  .project-2 .project-link {
    left: 21%;
    top: 42.2%;
  }
  
  .project-3 .project-link {
    left: 5.5%;
    top: 58.2%;
  }
  
  .project-4 .project-link {
    left: 21%;
    top: 72.4%;
  }
  
  .project-5 .project-link {
    left: 5.5%;
    top: 87%;
  }

  /*  */

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

    /* HEADERS */

  .hero-header h1 {
    padding-top: 35%;
    font-size: 70px;
    line-height: 150px;
  }

  .hero-header h2 {
    margin-top: 20%;
  }

  .hero-header h3 {
    margin-top: 20%;
    line-height: 50px;
  }

  .section-title {
    margin-top: 35%;
    font-size: 48px;
  }

  .project-title {
    font-size: 55px;
    padding-top: 25%;
    padding-bottom: 5%;
  }

  /*  */

  /* CONTACT ICONS */
  
  .contacts #telegram-icon {
    top: -155px;
    left: -100px;
  }
  
  .contacts #mail-icon {
    top: -75px;
    left: -455px;
  }
  
  .contacts #github-icon {
    top: -525px;
    left: -80px;
  }
  
  .contacts #replit-icon {
    top: -413px;
    left: -575px;
  }

  /*  */

  /* CONTACT ICONS SIZES */

  #telegram {
    height: 40px;
  }

  #mail,
  #github {
    height: 80px;
  }

  #replit {
    height: 55px;
  }

  /*  */

  /* PROJECT NUMBERS */

  .project-number {
    font-size: 48px;
  }

  .project-1 .project-number {
    left: 5%;
  }
  
  .project-2 .project-number {
    left: 19.5%;
  }
  
  .project-3 .project-number {
    top: 56%;
    left: 5%;
  }
  
  .project-4 .project-number {
    left: 19%;
  }
  
  .project-5 .project-number {
    left: 5.3%;
    top: 86%;
  }

  /*  */

  /* PROJECT LINKS */

  .project-link {
    font-size: 48px;
    color: rgb(255, 255, 255, 0.9);
  }

  .project-1 .project-link {
    left: 5.5%;
    top: 22%;
  }
  
  .project-2 .project-link {
    left: 20%;
    top: 42.2%;
  }
  
  .project-3 .project-link {
    left: 5.5%;
    top: 56.2%;
  }
  
  .project-4 .project-link {
    left: 19.5%;
    top: 72.5%;
  }
  
  .project-5 .project-link {
    left: 5.5%;
    top: 86.2%;
  }

  /*  */

  /* PROJECT STACK */

  .project-stack {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: start;
    grid-template-columns: 50% 50%;
  }

  .project-2 .project-stack {
    width: 100%;
  }

  .project-stack i,
  .project-stack p {
    justify-self: center;
    font-size: 30px;
    padding-bottom: 50px;
  }

  /*  */

}

@media (max-width: 375px) { 

  /* HEADERS */

.hero-header h1 {
  padding-top: 35%;
  font-size: 50px;
  line-height: 150px;
}

.hero-header h2 {
  margin-top: 15%;
}

.hero-header h3 {
  margin-top: 15%;
}

.section-title {
  margin-top: 25%;
}

.project-title {
  font-size: 55px;
  padding-top: 25%;
  padding-bottom: 15%;
}

/*  */

/* CONTACT ICONS */

.contacts #telegram-icon {
  top: -130px;
  left: -110px;
}

.contacts #mail-icon {
  top: -50px;
  left: -545px;
}

.contacts #github-icon {
  top: -500px;
  left: -90px;
}

.contacts #replit-icon {
  top: -388px;
  left: -495px;
}

/*  */

/* CONTACT ICONS SIZES */

#telegram {
  height: 40px;
}

#mail,
#github {
  height: 80px;
}

#replit {
  height: 55px;
}

/*  */

/* PROJECT NUMBERS */

.project-number {
  font-size: 48px;
}

.project-1 .project-number {
  left: 5%;
}

.project-2 .project-number {
  left: 19.5%;
}

.project-3 .project-number {
  top: 56%;
  left: 5%;
}

.project-4 .project-number {
  left: 19%;
}

.project-5 .project-number {
  left: 5.3%;
  top: 86%;
}

/*  */

/* PROJECT LINKS */

.project-link {
  font-size: 48px;
  color: rgb(255, 255, 255, 0.9);
}

.project-1 .project-link {
  left: 5.5%;
  top: 21%;
}

.project-2 .project-link {
  left: 20%;
  top: 41.6%;
}

.project-3 .project-link {
  left: 5.5%;
  top: 56.3%;
}

.project-4 .project-link {
  left: 19.5%;
  top: 72.9%;
}

.project-5 .project-link {
  left: 5.5%;
  top: 86.3%;
}

/*  */

/* PROJECT STACK */

.project-stack {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: start;
  grid-template-columns: 50% 50%;
}

.project-2 .project-stack {
  width: 100%;
}

.project-stack i,
.project-stack p {
  justify-self: center;
  font-size: 30px;
  padding-bottom: 50px;
}

/*  */

}
